@charset "UTF-8";
/* CSS Document */

/*基本設定
---------------------------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin: 0;
    padding: 0;
    font-family: "Lucida Grande", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote {
	margin:0;padding:0
}
table{
	width: 100%;
    max-width: 100%;
	background-color: transparent;
	border-spacing: 0;
    border-collapse: collapse;
}
table,.spec thead tr td,td,th{
	border: 1px solid #ddd;
}
.spec thead tr td,th,td{
	padding:8px;
}
p.w960{
	margin: 15px 0 !important;
    display: block;
    clear: both;
}

h1,h2,h3,h4,h5,h6 {	font-size: 100%;}

.text-center{
	text-align: center;
}
.header{
	margin-right: -15px;
    margin-left: -15px;
}
.main_1{
	float: left;
}
/*上下15px */
.w960{
	margin:15px 0;
}

body li {	list-style:none;}
body{font-size:75%\9;}
body:not(:target){font-size:75%¥9;}
img {
	border: 0;
	vertical-align:top;
}
strong {	font-weight: bold;}
a:link, a:visited {
	color:#666;
	text-decoration:none;
}
a:hover, a:active {	color:#999;}
address {	font-style:normal;}

.wink:hover img,
.block .box_l:hover,
.block li:hover {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}

wink {
	background:#443c81;
}

@-webkit-keyframes flash {
	0% {	opacity: .4;}
	100% {	opacity: 1;}
}
@keyframes flash {
	0% {	opacity: .4;}
	100% {	opacity: 1;}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.sp {
	display:none;
	overflow:hidden;
}
#header_sp{
	display: none;
}

@font-face {
	font-family: "Vollkorn";
	src: url(font/Vollkorn-VariableFont_wght.woff2),
	  url(font/Vollkorn-VariableFont_wght.woff);
  }

hr{
	height: 1px;
    background: #bbb;
    background-image: -webkit-linear-gradient(left, #ebebe8, #bdbdb8, #ebebe8);
	border: 0;
    border-top: 1px solid #eee;
	width: 60%;
    margin: 80px auto;
}

/*全体幅
---------------------------------------------------------- */
.container{
	width: 990px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.header_left{
	width: 50%;
	float: left;
	display: block;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.header h1{
	font-weight: bold;
    font-size: 20pt;
    letter-spacing: 0.1em;
	margin-top: 20px;
    margin-bottom: 10px;
}
.header .subtitle{
	font-size: 8.5pt;
    margin: -12px 0 10px 0;
    letter-spacing: 0.1em;
}
.header_right{
	width: 50%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	margin-top: 12px;
	display: block;
}
.header ul{
	float:right;
	margin-right:-15px;
	margin-top: 0;
	box-sizing: border-box;
}
.header_right ul li{
	float: left;
}
.header_right ul li a{
    position: relative;
    display: block;
    padding: 10px 15px;
}
.header_right ul li a:hover{
	background-color: transparent;
	color: #b10715ea;
	background-color: #b8b7b773;
}
.header_under{
	width: 100%;
	float: left;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	margin-bottom: 0;
    background: #ebebe8;
    color: #546E7A;
}
.header_under h2{
    padding: 8px 15px;
}
.header_under span{
	color: #666666;
}

.main_1{
	width: 100%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.main_1 p.w960{
	width: 100%;
    max-width: 960px;
    min-width: 300px;
    padding: 0;
	box-sizing: border-box;
}

.main_1 p.w960 img{
	width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto !important;
    padding: 0;
}
.main_1 h1{
	font-weight: bold;
    text-align: center;
    font-size: 16pt;
    margin: 60px 0 40px;
}
.main_1 h1 span{
	font-weight: normal;
}
.main_1 p{
	margin: 25px 0 50px 0;
    line-height: 1.6;
    font-size: 11pt;
    text-align: justify;
}

.main_1 h2{
	font-weight: 200;
    font-size: 400%;
    text-align: left;
	margin: 45px 0 40px;
    line-height: 1.3em;
}

.spec thead tr {
    background: #333;
    color: #fff;
	text-align: left;
}
.spec thead tr td {
	padding:8px;
	text-align: left;
	font-weight: bold;
}
.table tbody th {
    background: #f0f0f0;
	text-align: left;
}

.w2p{
	margin: 0 0 -10px 0;
    padding: 15px 0 10px 0;
    list-style: none;
    line-height: 0;
    overflow: hidden;
}
.w2p li{
    width: 48%;
    margin-bottom: 20px;
    margin-right: 2%;
    padding: 0;
    font-size: 10pt;
    line-height: 1.6em;
    float: left;
}
.w2p li img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.link a{
	  text-align: center;
	  cursor: pointer;
	  display: block;
	  width: 100%;
	  margin: 2em auto 0;
	  max-width:300px;
	  padding: 10px;
	  border: 0;
	  border-radius: 20px;
	  color: rgb(56, 56, 56);
	  font-size: 20px;
	  background: #cacaca;
	  box-shadow: 0 6px 0 rgba(161, 161, 161, 0.966), 0 12px 0 rgba(0,0,0,.2);
	  transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
  }
  .link a:hover {
	  color: white;
	  background: #0eabe9cc;
	  box-shadow: 0 3px 0 #0387bbcc, 0 6px 0 rgba(0,0,0,.2);
	  transform: translateY(3px);
  }

.sns{
	clear: both;
    padding: 50px 0 30px 0;
}

.refer_p{
	width: 100%;
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
	overflow: hidden;
}
.w2p li p {
	font-size: 110%;
    color: #000;
    font-weight: bold;
}
.w2p li span {
	font-size: 140%;
    color: rgb(202, 0, 0);
}
.referlink{
    float:right;
}
.referlink a{
	text-align: center;
	cursor: pointer;
	display: block;
	width: 100%;
	margin: 2em   0;
	max-width:200px;
	padding: 10px;
	border: 0;
	border-radius: 14px;
	color: rgb(56, 56, 56);
	background: #cacaca;
	box-shadow: 0 6px 0 rgba(161, 161, 161, 0.966), 0 12px 0 rgba(0,0,0,.2);
	transition: color .3s, background .3s, box-shadow .3s, transform 0.3s;
}
.referlink a:hover {
	color: white;
	background: #0eabe9cc;
	box-shadow: 0 3px 0 #0387bbcc, 0 6px 0 rgba(0,0,0,.2);
	transform: translateY(3px);
}

/* フッター
---------------------------------------------------------- */
footer {
	background-color: #fff;
	color: #000;
	text-align: center;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	padding: 15px 0 10px;
	border-top: 1px solid #eee;
}

/* トップへ戻るボタン
---------------------------------------------------------- */
#page-top {
    position: fixed;
    bottom: 20px;
    right: 70px;
    font-size: 1vw;
}
 
#page-top a {
	font-family: 'Vollkorn', serif;
    display: block;
	font-size: 1.4em;
    color: #000;
    width: 50px;
	height: 50px;
    padding: 0;
	line-height: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}
 
#page-top a:hover {
    color:#c00000;
}